* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: Jost !important;
  outline: none;
  user-select: none;
}

@font-face {
  font-family: Jost;
  src: url("../assets/fonts/Jost-Regular.ttf");
}


.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
